*~
vendor/*
vendor-harmony/*
.*~
config.php
moufRunningActions.php
.composer
tests/GeneratedClasses/*
mouf/no_commit/*
!mouf/no_commit/placeholder
composer-harmony-dependencies.json
composer-harmony-dependencies.lock
containers.php
