/*body {
	background-color: black;
}*/

/*ul, li {
	list-style: none outside none;
}*/


div.file {
	min-height: 20px;
	border: 1px solid #cccccc;
	background-color: #eeeeee;
	clear:both;
	margin-bottom: 2px;
}

div.moveable {
	width: 15px;
	height: 15px;
	background-image:url(images/updown.png);
	float:left;
	cursor:pointer;
}

div.phpfileicon {
	width: 24px;
	height: 16px;
	background-position:center;
	background-repeat:no-repeat;
	background-image:url(images/page_white_php.png);
	float:left;
}

div.trash {
	width: 15px;
	height: 15px;
	background-image:url(images/trash.png);
	float:right;
	cursor:pointer;
}

div.file div.details {
	margin: 2px 2px 2px 50px;
	border: 1px solid #cccccc;
	clear: both;
	display: none;
}

div.file div.viewdetails {
	float:right;
	cursor:pointer;
}

div.file div.autoload {
	margin: 2px 6px 0 0;
	float:right;
	padding: 1px;
	font-size: 0.7em;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px; 
}

div.file div.autoload.loaded {
	border:1px solid #007700;
	background:#DDFFDD none repeat scroll 0 0;
	color:#007700;
}

div.file div.autoload.noloaded {
	border:1px solid #777700;
	background:#FFF6BF none repeat scroll 0 0;
	color:#514721;
}

div.file div.autoload.neverloaded {
	border:1px solid #770000;
	background:#FFDDDD none repeat scroll 0 0;
	color:#770000;
}

div.group {
	height: 20px;
	color: #ffffff;
	background-color: #777777;
	font-family: Rockwell, Georgia, Arial, Verdana, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 16px;
	margin-bottom: 10px;
	padding: 5px 5px 5px 16px;
	cursor: pointer;
}

div.group:hover {
	background-color: #AAAAAA;
}
	
div.groupplus {
	background-image: url('../../vendor/mouf/famfamfam/icons/bullet_toggle_plus.png');
	background-position: center left;
	background-repeat: no-repeat;
	background-color: #777777;
}

div.groupminus {
	background-image: url('../../vendor/mouf/famfamfam/icons/bullet_toggle_minus.png');
	background-position: center left;
	background-repeat: no-repeat;
	background-color: #999999;
}

div.treegroup {
	margin-left: 20px;
}

div.outerpackage {
	padding-left: 20px;
}

div.package {
	background-color: #eeeeee;
	/*color: #EE0038;*/
	margin-bottom: 10px;
	padding: 5px 5px 5px 5px
}

div.packageenabled {
	background-color: #35B735;	
}

span.packagename {
	font-family: Rockwell, Georgia, Arial, Verdana, Helvetica, sans-serif;
	/*font-weight: bold;*/
	font-size: 14px;
	color: #EE0038;
}

span.packageversion {
	font-size: 9px;
}

div.packagedescription {
	padding-left: 20px;
}

div.packageicon {
	float:left;
}

div.packagetext {
	padding-left: 70px;
}

a.viewotherversions {
	display: block;
	float:right;
	padding-left: 14px;
	padding-top: 2px;
	background-image: url('images/bullet_add.png');
	background-position: left;
	background-repeat: no-repeat;
}

div.directorytitle {
	background-color: #777777;
	color: white;
	padding: 5px 5px 5px 5px;
	/*font-family: Rockwell, Georgia, Arial, Verdana, Helvetica, sans-serif;*/
	font-weight: bold;
	font-size: 14px;
}
div.directorycontent {
	padding-left: 20px;
	padding-bottom: 10px;
}

textarea.string {
	width: 210px;
	max-height: 100px;
	min-height: 16px;
	line-height: 16px;
	height: 16px
}

span.sessionmarker {
	font-size: 8px;
	border: 1px solid #006600;
	color: #006600;
	background-color: #77ff77;
	padding: 1px 1px 1px 1px;
}

span.sessionmarker {
	font-size: 8px;
	border: 1px solid #006600;
	color: #006600;
	background-color: #77ff77;
	padding: 1px 1px 1px 1px;
}

span.configmarker {
	font-size: 8px;
	border: 1px solid #665500;
	color: #776600;
	background-color: #ffcc33;
	padding: 1px 1px 1px 1px;
}

span.requestmarker {
	font-size: 8px;
	border: 1px solid #660000;
	color: #660000;
	background-color: #ff7777;
	padding: 1px 1px 1px 1px;
}

span.compulsory {
	color: #A10C27;
}

div.constant {
	background-color:#EEEEEE;
	border:1px solid #CCCCCC;
	clear:both;
	padding: 2px;
	margin-bottom: 5px;
}

div.constant label {
	width: 250px;
	padding-right: 0;
	text-align: center;
}

table.grid {
	width: 100%;
}

table.grid th {
	background-color:#AAAAAA;	
}

table.grid tr.odd td {
	background-color:#EEEEEE;	
}

table.grid tr.even td {
	background-color:#DDDDDD;	
}

div.loading {
	background:#F3F3F3 none repeat scroll 0 0;
	color:#777777;
	padding:5px 5px 5px 26px;
	border:1px solid #777777;
	background-image: url("images/ajax-loader.gif");
	background-repeat: no-repeat;
	background-position: 5px 5px;
}

i.loading-icon {
    background-image: url("images/ajax-loader.gif");
    background-repeat: no-repeat;
    display: inline-block;
    height: 14px;
    line-height: 14px;
    margin-top: 1px;
    vertical-align: text-top;
    width: 14px;
}

div.validator {
	margin-bottom: 5px;
}


#installProcess > div {
	width: 700px;
	min-height: 20px;
	border: 1px solid #cccccc;
	background-color: #eeeeee;
	clear:both;
	margin-bottom: 2px;
	padding-left: 20px;
	background-repeat: no-repeat;
	background-position: 2px 2px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#installProcess > div.todo {
	background-image: url("images/ajax-loader.gif");
}

#installProcess > div.done {
	background-image: url("images/tick.png");
}

#installProcess > div.error {
	background-image: url("images/cross.png");
}

/****************** Login Page ******************/
div.login_controller label {
    float: left;
    padding-right: 8px;
    text-align: right;
    width: 150px;
}

div.login_controller li.login_controller_submit {
	margin-left: 200px;
}

/**************** Component Page ****************/
form#componentForm div.instance_parameter {
	width: 59%;
	float: left;
}

form#componentForm div#instance_properties {
	width: 39%;
	float: right;
	padding-top: 36px;
}

form#componentForm div.moufpropertyblock {
	margin-top: 10px;
}

form#componentForm label {
	font-weight: bold;
}

form#componentForm textarea.string {
	width: 80%;
	height: 75px;
}

form#componentForm div.instance_doc_div_mouf {
	margin-top: 10px;
}

form#componentForm table#instance_properties {
	width: 100%;
}

form#componentForm table#instance_properties td {
	vertical-align: top;
}



a.button.duplicate {
	background-image: url(images/page_white_copy.png);
	background-repeat: no-repeat;
	background-position: 5px center;
        padding-left: 26px;
}

a.button.delete {
	background-image: url(images/cross.png);
	background-repeat: no-repeat;
	background-position: 5px center;
        padding-left: 26px;
}

a.button.modify {
	background-image: url(images/wrench.png);
	background-repeat: no-repeat;
	background-position: 5px center;
        padding-left: 26px;
}


/*div.searchbox input {
	width: 190px;
}

div.searchbox button {
	padding-top: 1px;
	padding-bottom: 1px;
}*/

div.package div.packageicon img {
	float: left;
}

/************ COMPOSER *************/

#composeroutput {
	width: 100%;
	background-color: black;
	color: green;
	height: 50px;
	overflow: hidden;
	padding: 5px;
	/*
	-moz-box-shadow: 0 0 10px rgba(0,0,0,.06);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,.06);
	box-shadow: 0 0 10px rgba(0,0,0,.06);*/
}

div.composersearch input.searchbig {
	
}

div.composersearch input.searchbig.searching {
	background-image: url(images/ajax-loader.gif);
	background-position: right center;
	background-repeat: no-repeat;
}

#composerpackagessearch div div.package + div.package {
	display: none;
	margin-left: 40px;
}

.hidden {
	display:none;
}

/* Settings overriding bootstrap */
div.topribbonmenu div.submenu_package_detail a {
    font-size: 12px;
}

a {
    color: #A10C27;
}

a:hover {
	color: #FF0C27;
}

/* Hack to make sure bootstrap and jquery ui play nice together */

.ui-widget .input-prepend input, .ui-widget .input-prepend select, .ui-widget .input-prepend textarea, .ui-widget .input-prepend button {
    font-family: Arial,Tahoma,Verdana,Arial,sans-serif;
    font-size: small;
}

.alert .xdebug-error {
    text-shadow: none;
}

div.sidebar div.smallinstance, div.sidebar div.smallclass {
	width: auto;
}

div.fieldContainer > span.help-block {
	display: block;
	margin-top: 0px;
}


div.sidebar input.instanceFilter {
	width: 95%;	
}

button.nullValue {
}


@keyframes nullPulse {
	from, to {
		box-shadow: 0 0 9px #333;
		background-color: #59BFDD;
		background-image: linear-gradient(center top , #6BD0EE, #3FA6C4);
	}
	50% { 
		background-color: #49AFCD;
		background-image: linear-gradient(center top , #5BC0DE, #2F96B4);
		box-shadow: 0 0 18px #49AFCD; 
	}
}

div.stateActive > button.nullValue {
	animation: nullPulse 2s infinite;
}

button.nullValue.stateActive {
	animation: nullPulse 2s infinite;
}

button.nullValue:focus { 
    outline: none; 
}

@keyframes defaultPulse {
	from, to {
		box-shadow: 0 0 9px #A33;
		background-color: #FAA732;
		background-image: linear-gradient(center top , #FBB450, #F89406);
	}
	50% { 
		background-color: #FFB742;
		background-image: linear-gradient(center top , #FFC460, #FFA416);
		box-shadow: 0 0 18px #FFB742; 
	}
}

div.stateActive > button.defaultValue {
	animation: defaultPulse 2s infinite;
}

button.defaultValue.stateActive {
	animation: defaultPulse 2s infinite;
}

button.defaultValue:focus { 
    outline: none; 
}

div.array:empty {
	min-width: 226px;
	min-height: 30px;
	background-color: #eee;
}

div.array:empty:before {
	content: "Empty array";
	font-style: italic;
}

button.btn.defaultValue, button.btn.nullValue {
	width: 220px;
	height: 27px;
}

ul.nav.mouftypes {
	margin-bottom: 0px;
}

label .type {
	color: #999999
}

/**** Fixing Bootstrap VS Syntaxhighlighter problem *****/
.syntaxhighlighter .container:before, .container:after {
	content: none;	
}

pre.error {
	border-color: red;
}

span.phperror {
	background-color: #FF9999;
}

.alert .xdebug-error {
	color: black;	
}





/* Images in documentation */

.staticwebsite p > img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 5px solid #393939;
	border-radius: 5px;
	padding: 5px;
	background-color: white;
	webkit-filter: grayscale(30%) sepia(30%);
	-moz-filter: grayscale(30%) sepia(30%);
	-o-filter: grayscale(30%) sepia(30%);
	-ms-filter: grayscale(30%) sepia(30%);
	filter: grayscale(30%) sepia(30%);
	box-shadow: 0px 0px 30px #777;
	
	
    transition-property: all;
	transition-duration: .5s; /* on aurait pu écrire 500ms également */
	transition-timing-function: ease-in;
	transition-delay: 0s;
}

.staticwebsite p > img:hover {
	filter: grayscale(0%) sepia(0%);
	-webkit-filter: grayscale(0%) sepia(0%);
	-moz-filter: grayscale(0%) sepia(0%);
	-o-filter: grayscale(0%) sepia(0%);
	-ms-filter: grayscale(0%) sepia(0%);
	filter: grayscale(0%) sepia(0%);
	
	box-shadow: 0px 0px 30px #555;
}
